# Configuração de Variáveis de Ambiente
# INSTRUÇÃO: Copie este arquivo para ".env" e preenchaa com seus dados reais

# Dados do funcionário
NOME_FUNCIONARIO=Francisco Osvaldo Lima Holanda
ID_FUNCIONARIO=2445201
TELEFONE=85988449973
